Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(2))

john@google.com
google

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [4]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [5]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'orange', 'apple', 'cherry', 'grapes', 'banana'}

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [8]:
l =[1,3,5,2,6]
for i in range(1,7):
    if i not in l:
        print('Missing number in the list is:',i)

Missing number in the list is: 4

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [9]:
def removeDuplicate( li ):
    newli=[]
    seen = set()
    for item in li:
        if item not in seen:
            seen.add( item )
            newli.append(item)

    return newli

li=[12,24,35,24]
print(removeDuplicate(li))

[12, 24, 35]